body{
    
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    max-width:95% ;
}
.box{
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 2em;
    margin: 1em;
    background-color: green;

}
.box1{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 2em;
    margin: 1em;
    background-color: red;
}
.box2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 2em;
    margin: 1em;
    background-color:red;
}
.box6{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 2em;
    margin: 1em;
    background-color:yellow;
}
.box3{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 2em;
    margin: 1em;
    background-color: blue;
}
.box4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 2em;
    margin: 1em;
    background-color:green;
}
.box5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 2em;
    margin: 1em;
    background-color: green;
}
.row1{
    
    width: 50%;
    height: 2em;
    background-color: red;
}
.row2{
    background-color: blue;
    width: 50%;
    height: 2em;
}
.row3{
    background-color: blue;
    min-width:70px;
    height: 2em;
    
}
.line{
    width: 95%;
    height: .5em;
    background-color:green;
}
.row4{
    width: 1.3em;
    height: 1.3em;
    margin: .29em;
    background-color: red;
}
.row5{
    width: 6vw;
    height: 2em;
    background-color:yellow;

}
.row6{
    min-width:70px;
    height: 2em;
    background-color: rgb(255, 0, 0);

}
.row7{
    width: 1em;
    height: 2em;
    background-color: green;
}
.parent{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #dcdcdc;
    justify-content: center;
    

}
.box-1{
    width: 25%;
    height: 40%;
   background-color: white;
    margin: .5em;
}
.box-2{
    width: 40%;
   
    height: 60%;
    display: flex;
    flex-direction: column;
    margin: .5em;
}
.box-3{
    width: 25%;
    background-color: white;
    height: 40%;
    margin: .5em;
    display: flex;
    flex-direction: column;
}
.title{
    height: 40%;
    width: 100%;
   text-align: center;
    background-color: black;
    font-size: 2em;
    color: #eeee;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.wap{
    margin-left: 3em;
}
.main1{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    
}
.cercel{
    background-image: url(image/ASD.PNG);
    background-position: center;
    background-size: cover;
    width: 7%;
    height: 14%;
    border-radius: 5em;
    position: absolute;
    top: 6.8em;
    left: 4em;
}
.name{
    display: flex;
    align-self: center;
}
.b1{
    width: 30%;
    height: 4em;
    background-color: white;
}

.fal{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.line1{
    width: 100%;
    height: 5.7em;
    background-color:white;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: .1em;
    
}
.line2{
    display: flex;
    width: 85%;
    height: 50%;
    text-align-last: center;
    position: relative;
    
   
}
.pic{
    width: 15%;
    height: 100%;
    background-color:white;
}
.h2{
    width: 75%;
    height: 50%;
    background-color: white;
    color: black;
    font-size: 2em;
}
span{
    font-size: .8em;
    color: black;
    text-transform: capitalize;
    position: absolute;
    bottom: 1em;
    left: 8em;
    margin-left: -1em;
}
.img{
    background-image: url(image/ASD.png);
    background-position: center;
    background-size: contain;
    border-radius: 4em;
    width: 4em;
    height: 4em;
    border: 1px solid black;
    margin-left: .4em;
    margin-top: .8em;
    position: absolute;
}
.img-2{
    background-image: url(image/ASDF.JPG);
    background-position: center;
    background-size: contain;
    border-radius: 4em;
    width: 4em;
    height: 4em;
    border: 1px solid black;
    margin-left: .4em;
    margin-top: .8em;
    position: absolute;
}
h4{
    color: gray;
    display: contents;
    font-size: .5em;
}
h6{
    color: gray;
    display: contents;
    font-size: 1.2em;
  
}
h5{
 color: #7f7ffb;
 font-size: 1.1em;
 margin-top: 13px;
    margin-left: 12px;
}
.follow{
    width: 4em;
    height: 1em;
    border: .1em solid #7f7ffb;
    border-radius: .5em;
    color: #7f7ffb;
    position: absolute;
    top: 2.6em;
    left: 7em;
}
.rtl{
width: 100%;
height: 2em;
font-weight: bolder;
    font-size: x-large;
    padding-top: .5em;
}
.navbar{
  
    height: 3em;
    display: flex;
   position: relative;
    color: gray;

}
.navbar  li{
    display: inline;
    margin-left: 4em;
    font-weight: 900;
    font-size: 1.2em;
}
.navbar li:hover{
    transition: .5s;
    color: crimson;
}
.tweet{
    width: 4em;
    height: 1.4em;
    text-align: center;
    border-radius: .8em;
    background-color: #7f7ffb ;
    color: white;
    position: absolute;
    right: 2em;
    top: 1em;

}
label{
    padding-left: 20px;
}
@media (max-width:1070px){
    .h2{
        font-size: 1em;
        margin-left: 1em;
    }
    .wap{
        font-size: .5em;
        margin-left: 5em;
    }
    .row5{
        width: 16vw;
    }
}

