body{
    
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
}
.box{
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 2em;
    margin: 1em;
    background-color: green;

}
.box1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 2em;
    margin: 1em;
    background-color: yellow;
}
.box2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 2em;
    margin: 1em;
    background-color: yellow;
}
.box3{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 2em;
    margin: 1em;
    background-color: yellow;
}
.box4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 3em;
    margin: 1em;
    background-color: yellow;
}
.box5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 2em;
    margin: 1em;
    background-color: yellow;
}
.row1{
    
    width: 50%;
    height: 2em;
    background-color: red;
}
.row2{
    background-color: blue;
    width: 50%;
    height: 2em;
}
.row3{
    background-color: blue;
    width: 5%;
    height: 2em;
    
}
.line{
    width: 95%;
    height: .5em;
    background-color: red;
}
.row4{
    width: 2em;
    height: 2em;
    margin: .5em;
    background-color: red;
}
.row5{
    width: 15%;
    height: 2em;
    background-color: blue;

}
.parent{
    display: flex;
    width: 100vw;
    height: 100%;

}
.box-1{
    width: 30%;
    height: 40%;
    background-color: gray;
}
.box-2{
    width: 40%;
    background-color: hotpink;
    height: 60%;
    display: flex;
    flex-direction: column;
}
.box-3{
    width: 30%;
    background-color: deepskyblue;
    height: 40%;
}
.title{
    height: 40%;
    width: 100%;
   text-align: center;
    background-color: black;
    font-size: 2em;
    color: #eeee;
}
.main1{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    
}
.cercel{
    background-color: brown;
    width: 7%;
    height: 14%;
    border-radius: 5em;
    position: absolute;
    top: 3em;
    left: 1em;
}
.name{
    display: flex;
    align-self: center;
}
.b1{
    width: 30%;
    height: 4em;
    background-color: blanchedalmond;
}
.b2{
    width: 30%;
    height: 4em;
    background-color: cornsilk;
}
.b3{
    width: 30%;
    height: 4em;
    background-color: burlywood;
}
.fal{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.line1{
    width: 100%;
    height: 5.7em;
    background-color: tan;
    display: flex;

}
.line2{
    width: 100%;
    height: 5.7em;
    background-color: rgb(184, 179, 173);

}
.line3{
    width: 100%;
    height: 4em;
    background-color: rgb(13, 19, 71);

}
.line4{
    width: 100%;
    height: 4em;
    background-color: rgb(19, 134, 29);

}
.line5{
    width: 100%;
    height: 4em;
    background-color: rgb(117, 71, 10);

}
.pic{
    width: 15%;
    height: 100%;
    background-color: tomato;
}
.h2{
    width: 85%;
    height: 50%;
    background-color: thistle;
}
.h1{
    width: 85%;
    height: 50%;
    background-color: yellow;
}