body{
    
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
}
.box{
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 2em;
    margin: 1em;
    background-color: green;

}
.box1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 2em;
    margin: 1em;
    background-color: yellow;
}
.box2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 2em;
    margin: 1em;
    background-color: yellow;
}
.box3{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 2em;
    margin: 1em;
    background-color: yellow;
}
.box4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 3em;
    margin: 1em;
    background-color: yellow;
}
.box5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 2em;
    margin: 1em;
    background-color: yellow;
}
.row1{
    
    width: 50%;
    height: 2em;
    background-color: red;
}
.row2{
    background-color: blue;
    width: 50%;
    height: 2em;
}
.row3{
    background-color: blue;
    width: 5%;
    height: 2em;
    
}
.line{
    width: 95%;
    height: .5em;
    background-color: red;
}
.row4{
    width: 2em;
    height: 2em;
    margin: .5em;
    background-color: red;
}
.row5{
    width: 15%;
    height: 2em;
    background-color: blue;

}
.parent{
    display: flex;
    width: 100vw;
    height: 100%;
    background-color: #dcdcdc;
    justify-content: center;
    

}
.box-1{
    width: 25%;
    height: 40%;
   background-color: white;
    margin: .5em;
}
.box-2{
    width: 40%;
   
    height: 60%;
    display: flex;
    flex-direction: column;
    margin: .5em;
}
.box-3{
    width: 25%;
    background-color: white;
    height: 40%;
    margin: .5em;
    display: flex;
    flex-direction: column;
}
.title{
    height: 40%;
    width: 100%;
   text-align: center;
    background-color: black;
    font-size: 2em;
    color: #eeee;
}
.main1{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    
}
.cercel{
    background-image: url(image/logo.png);
    background-position: center;
    background-size: contain;
    width: 7%;
    height: 14%;
    border-radius: 5em;
    position: absolute;
    top: 3.8em;
    left: 4em;
}
.name{
    display: flex;
    align-self: center;
}
.b1{
    width: 30%;
    height: 4em;
    background-color: white;
}

.fal{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.line1{
    width: 100%;
    height: 5.7em;
    background-color:white;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: .1em;
    
}
.line2{
    display: flex;
    width: 85%;
    height: 50%;
    text-align-last: center;
    position: relative;
    
   
}
.pic{
    width: 15%;
    height: 100%;
    background-color:white;
}
.h2{
    width: 75%;
    height: 50%;
    background-color: white;
    color: black;
    font-size: 2em;
}
span{
    font-size: .8em;
    color: black;
    text-align: -webkit-match-parent;
    position: absolute;
    bottom: 1em;
    left: 8em;
    margin-left: -1em;
}
.img{
    background-image: url(image/logo.png);
    background-position: center;
    background-size: contain;
    border-radius: 4em;
    width: 4em;
    height: 4em;
    border: 1px solid black;
    margin-left: .4em;
    margin-top: .8em;
    position: absolute;
}
h4{
    color: gray;
    display: contents;
    font-size: .5em;
}
h6{
    color: gray;
    display: contents;
    font-size: 1.2em;
  
}
h5{
 color: #7f7ffb;
 font-size: 1.1em;
 margin-top: 13px;
    margin-left: 12px;
}
.follow{
    width: 4em;
    height: 1em;
    border: .1em solid #7f7ffb;
    border-radius: .5em;
    color: #7f7ffb;
    position: absolute;
    top: 2.6em;
    left: 7em;
}
.rtl{
width: 100%;
height: 2em;
font-weight: bolder;
    font-size: x-large;
    padding-top: .5em;
}

