body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: shabnam;
} 
@font-face {
    font-family: Shabnam;
    src: url("font/Shabnam-Bold.eot");
    src: url("font/Shabnam-Bold.eot?#iefix") format("FontName-opentype"),
        url("font/Shabnam-Bold.woff") format("woff"),
        url("font/Shabnam-Bold.ttf") format("truetype");
}
.container{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    align-self: center;

}
.name{
    direction: rtl;
    font-size: 2rem;

}
.pic{
    display: flex;
    flex-direction: column;

}
.dashbord{
    display: flex;
    justify-content: space-evenly;

}
select{
    width: 190%;
    background-color: gray;
    color: black;
}
.also-img{
   
    display: flex;
    flex-wrap: wrap;
}
.also-img img{
  width: 50%;
}
@media(max-width:600px){
    .container{
        max-width: 380px;
    }
}