html  body{
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: shabnam;

}
@font-face {
    font-family: Shabnam;
    src: url("font/Shabnam-Bold.eot");
    src: url("font/Shabnam-Bold.eot?#iefix") format("FontName-opentype"),
        url("font/Shabnam-Bold.woff") format("woff"),
        url("font/Shabnam-Bold.ttf") format("truetype");
}


.navbar{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    background-color: black;
    width: 100vw;


}
.navbar i{
    color: white;
    font-size: 2rem;
}
.container{
    width:100vw;
    max-width: 900px;
    align-self: center;
   
}
.container-list{
    width:100vw;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 254, 254, 0.933);
    flex-wrap: wrap;
    justify-content:center;
    padding: 0;
    margin: 0;
    align-self: center;

}
.imge{
    display: flex;
    justify-content: center;
}

.rate{
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    font-size: 20px;
    padding: 1rem;

}


.name{
    
    display: flex;
    justify-content: flex-end;
    line-height: 2rem;
    font-size: 1.5rem;
    padding: 1rem;
    

}
.price{
    display: flex;
    justify-content: space-evenly;
    line-height: 3;
   
}
.price-1{
    font-size: 2rem;
    bottom: 63px;
    font-size: 2rem;
    background-color: blanchedalmond;
    position: absolute;
    left: 12px;
    width: 70px;
    border-radius: 12rem;
    padding-left: 10px;

}
.price-2{
   
    font-size: 2rem;
    padding-left: 20px;
}
.price-3{
    font-size: 2rem;
    -webkit-text-decoration-line: line-through 3px red;
    text-decoration-line: line-through; 


    
}
.also{
    direction: rtl;
}
.also img{
    width: 50%;
}
.color{
    display: flex;
    justify-content: space-around;
}
select{
    margin: 15px;
    width: 150px;
    padding: 5px 35px 5px 5px;
    font-size: 1rem;
    border: 1px solid #FFF;
    background: #eee;
    font-family: shabnam;
}
button{
    font-family: shabnam;
    font-size: 1rem;
    border-radius: 5px;
}
.media{
    display: flex;
    background-color: black;
    justify-content: space-evenly;
    
}
.media i{
    color: white;
    font-size: 2rem;

}
.adress{
    display: flex;
    background-color: black;
    color: white;
    direction: rtl;
    font-size: 1.5rem;
    justify-content: center;
    border: 3px solid black;
   
}

.not-available{
    background-color: rgb(53, 52, 52);
    text-decoration: line-through 2px red;
}
.text{
    direction: rtl;
    text-align: justify;
    padding: .5rem;
    line-height: 2;

}
.parent{
    display: flex;
    flex-direction: column;
    text-align-last: center;
    position: relative;

}
.child{
    display: flex;
    align-self: center;
    justify-content: space-between;
}

.parent img{
    width: 300px;
    border-radius: 2rem;
    padding: 1rem;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100vw;
}

.join {
    display: flex;
    width: 150px;
    height: 100px;
    font-size: 2rem;
    border-bottom: 5px solid black;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 2rem;
}

.login {
    display: flex;
    width: 150px;
    height: 100px;
    font-size: 2rem;
    border-bottom: 5px solid black;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 2rem;
}
.head{
    display: flex;
    justify-content: space-around;
}

.information {
    padding-top: 2rem;
    background-color: white;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    direction: rtl;
    font-family: shabnam;
}
.information i{
    color: #383636;
    font-size: 1.5rem;
}
input {
    
    border: 1px solid;
    border-radius: 1rem;
    height: 50px;
    width: 300px;
    color: #383636;
}
.a{
   
    font-size: 1.4rem;
    margin:1.4rem;
    font-family: shabnam;
    padding-right: 15px;
}
.anim{
    background-color: black;
    display: flex;
    justify-content: center;
    text-align: justify;
    font-size: 2rem;
    line-height: 2;
    animation-name: myfirst;
    animation-duration: 2s;
    animation-iteration-count: infinite ;
}
@keyframes myfirst {
    0%{color: white;}
    50%{color: orangered;}
    100%{color: red;}
}


@media(max-width:830px){
    body{
        padding: 0;
        margin: 0;
    }
    .navbar i{
        
        font-size: 1rem;
    }
        
    .navbar img{
        width: 120px;
    }
    .price-1{
         
        font-size: 1rem;
        bottom: 30px;
        background-color: blanchedalmond;
        position: absolute;
        left: 12px;
        width: 34px;
        border-radius: 12rem;
        padding-left: 10px;
    }
    .price-2{
        font-size: 1rem;
        padding-left: 19px;
        padding-bottom: 5px;
    }
    .anim{
        font-size: .8rem;
    }
    .name{
        font-size: .8rem;
        line-height: 1;

    }
    .adress{
        font-size: 1rem;
    }
    .parent img{
        width: 185px;
        padding:1px;
}
    .imge{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}
@media (max-width:540px){
    .parent img{
        width: 90%;
    }
   .anim{
    font-size: .6rem;
}
   .navbar img{
    width: 70px;
}
}