body{
    --header-height:50px;

    margin: var(--header-height) 0 0 0 ;
}
.preload * {
   transition: none !important;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:  var(--header-height);
    background: #333333;
    display: flex;
}
.header--button{
    width:  var(--header-height);
    flex-shrink: 0;
    background: none;
    outline: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
}
.nav--links{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100vh;
    width: 250px;
    background: #ffff;
    transform: translateX(-250px);
    transition: transform 0.3s;

}
.nav--open .nav--links {
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(0, 0,0,0.2);
}
.nav--link{
    display: flex;
    align-items: center;
    color: #666666;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    padding: 12px 15px;
    background: transform 0.2s;
}
.nav--link > i {
   margin-right: 15px;
}
.nav--link--active{
    color: #009578;
    
}
.nav--link--active , .nav--link:hover{

    background: #eeeeee;
}
.nav--overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0,0, 0.5);
    backdrop-filter: blur(2px);
    visibility: hidden;
    transition:  opacity 0.3s;
    opacity: 0;
}
.nav--open .nav--overlay{
    visibility: visible;
    opacity: 1;
}